.bg {
    background-image: url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.form-bg{
    background-color: #f5f5f5;
}
.float-right{
    float: right;
}
.cursor-pointer{
    cursor: pointer;
}
.ant-menu-horizontal{
    line-height: 64px;
}
.ant-select-selection{
    padding: 10px;
}