<div class="w-100 h-100 bg">
    <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
        <div nz-col nzSpan="10">
            <nz-card class="form-bg border m-t-50">
                <h2> Forgot Password </h2>
                <form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
                    <nz-spin *ngIf="isLoadingFlag" class="m-b-5" nzSimple></nz-spin>
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="emailErrorTpl">
                            <nz-form-label nzNoColon nzFor="email">Email</nz-form-label>
                            <nz-input-group nzPrefixIcon="mail">
                                <input class="p-20" id="email" nz-input formControlName="email" placeholder="Email" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <span>Back to <a routerLink="../login">Sign In</a></span>
                        <nz-form-control>
                            <button [disabled]="isLoadingFlag" nz-button class="float-right" nzType="primary">Send Reset Link</button>
                        </nz-form-control>
                    </nz-form-item>
                    <ng-template #emailErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('email')">The input is not valid E-mail!</ng-container>
                        <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
                    </ng-template>            
                </form>
            </nz-card>
        </div>
    </div>
</div>
