<div class="container bg">
    <nz-card class="form-card">
        <h2> Reset Password </h2>
        <form nz-form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()">
            <nz-spin *ngIf="isLoadingFlag" class="m-b-5" nzSimple></nz-spin>
            <p *ngIf="isErrorMesage" class="has-form-error"> Can't reset your password. Please try again. </p>
            <nz-form-item>
                <nz-form-label nzRequired nzNoColon nzFor="password">Password</nz-form-label>
                <nz-form-control [nzErrorTip]="passwordErrorTpl">
                    <nz-input-group nzPrefixIcon="lock">
                        <input class="p-20" id="password" type="password" nz-input formControlName="password" placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired nzNoColon nzFor="confirmPassword">Confirm Password</nz-form-label>
                <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
                    <nz-input-group nzPrefixIcon="lock">
                        <input class="p-20" id="confirmPassword" type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button [disabled]="isLoadingFlag" nz-button class="float-right" nzType="primary">Reset Password</button>
                </nz-form-control>
            </nz-form-item>
            <ng-template #passwordErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your password!</ng-container>
                <ng-container *ngIf="control.hasError('minlength')">Minimum length should be 8!</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">Maximum length should be 30!</ng-container>
            </ng-template>
            <ng-template #confirmPasswordErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your confirm password!</ng-container>
                <ng-container *ngIf="control.hasError('confirm')">Password doesn't match!</ng-container>
            </ng-template>
        </form>
    </nz-card>
</div>
